<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <script>
    var cs = [
      { name: "vue/测试", max: 3 },
      { name: "vue/测试/三级菜单", max: 3 },
      { name: "angular/方法介绍", max: 3 },
      { name: "angular/框架原理/框架示例", max: 3 },
      { name: "angular/踩坑指南", max: 3 },
      { name: "angular/框架原理/框架剖析", max: 3 },
    ]
    var c = cs.map(function (i) {
      return i.name.split('/')
    })
    console.log("c", c)

    var menus = [];
    c.forEach(function (i) {
      var o1 = {},
        o2 = {},
        o3 = {};

      if (i[2]) {
        o3 = {
          name: i[2],
          chidren: [],
        }
      }
      if (i[1]) {
        o2 = {
          name: i[1],
          chidren: [],
        }
        if (i[2]) {
          o2.chidren.push(o3)
        }
      }
      o1 = {
        name: i[0],
        chidren: [],
      }
      if (i[1]) {
        o1.chidren.push(o2)
      }

      var m3Equal = false;
      var m2Equal = false;
      var mEqual = false;

      menus.forEach(function (m) {
        if (m.name === i[0]) {
          mEqual = true;
          m.chidren.forEach(function (m2) {
            if (i[1] && m2.name === i[1]) {
              m2Equal = true;
              m2.chidren.forEach(function (m3) {
                if (i[2] && m3.name === i[2]) {
                  m3Equal = true;
                }
              })
              if (!m3Equal && i[2]) {
                m2.chidren.push(o3)
              }
            }
          })
          if (!m2Equal && i[1]) {
            m.chidren.push(o2)
          }
        }
      })
      if (!mEqual) {
        menus.push(o1)
      }


    })

    console.log("menus", menus)

    var post = [{
      name3: "框架剖析标题",
      path: "2019/01/22/angular/kuang-jia-yuan-li/kuang-jia-pou-xi/pou-xi/",
      categories: "angular/框架原理/框架剖析",
    },
    {
      name3: "踩坑指南标题",
      path: "2019/01/22/angular/cai-keng-zhi-nan/cai-keng-zhi-nan/",
      categories: "angular/踩坑指南"

    }

    ]
    var inM1 = true,
      inM2 = true,
      inM3 = true;
    post.forEach(function (p) {
      var cs = p.categories.split('/');
      menus.forEach(function (m) {
        // 一级菜单中匹配到
        if (m.name == cs[0]) {
          // 若文章还有二级分类
          if (cs[1]) {
            // 循环菜单二级分类
            m.chidren.forEach(function (m2) {
              // 如果匹配上
              if (m2.name == cs[1]) {
                // 如果文章还有三级分类
                if (cs[2]) {
                  // 循环三级分类匹配
                  m2.chidren.forEach(function (m3) {
                    if (m3.name == cs[2]) {
                      m3.chidren.push(p);
                    }
                  })
                  // 只有二级分类
                } else {
                  m2.chidren.push(p);
                }
              }
            })
            // 文章只有一级分类
          } else {
            m.chidren.push(p);
          }
        }
      })
    })

    console.log("menus2", menus)
  </script>

</body>

</html>